<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Iteration over Map</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script>
        function deleteConfirm(){
            return confirm("do you want to delete?");
        }
    </script>
</head>
<body>
<div class="container">
    <h1>Players</h1> 
    <a class="btn btn-primary" th:href="@{games/0}">Add</a> 

    <table class="table table-striped">
     <tr>
        <th>id</th>
        <th>Name</th>
        <th>Game Date</th>

        <th >Action</th>
     </tr>  
     <tr th:each="game : ${games}">
         <td th:text="${game.id}">id</td>
         <td th:text="${game.name}">name</td>
         <td th:text="${game.gamedate}">gamedate</td>
         <td>
            <a class="btn btn-danger"  onclick="return deleteConfirm()" th:href="@{games/{id}/delete (id=${game.id})}">Delete</a>
    
            <a class="btn btn-secondary" th:href="@{games/{id} (id=${game.id})}">Edit</a>
        </td>    

         
     </tr> 
    </table>


</div></body></html>